body {
  margin: 0;
  background-color: #111111;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: rgb(45, 192, 131); /* Green */
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 2px;
  margin-top: 1px;
  width: 8em;
  font-family: inherit;
}

.addButton {
  margin-top: 1em;
  margin-left: 2.5em;
  width: 350px;
}

.searchBar, .sortSelect {
  margin-left: 16px;
  width: 320px;
  font-size: 1.5em;
  height: 42px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  color: rgb(45, 192, 131);
  font-family: inherit;
  background-color: inherit;
}

.sortSelect {
  -moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding-right: 2em;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') #111111;
  background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  border-radius: 2px;
}

.sortSelect:hover {
	background-color: #242424;
}

.sortSelect * {
  background-color: inherit;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px;
  margin-top: 1px;
  align-items: flex-start;
}

.item > *:first-child {
  float: left;
}

.modelname {
  font-weight: 400;
  font-size: 1.5em;
  color: rgb(45, 192, 131);
}

.infoBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.infoBox > * {
  box-sizing: border-box;
}

Input {
  border-radius: 2px;
  background-color: inherit;
  color: inherit;
  border-color: rgb(45, 192, 131);
  padding-left: 1em;
}

.infoBox > Input {
  width: 35%;
  margin-right: 50%;
  margin-bottom: 1em;
}

.infoBox > Label {
  width: 15%;
  display: block;
  margin-bottom: 1em;
}

.imageEdit {
  align-self: center;
  margin-right: 2em;
  width: 350px;
}

img {
  border-radius: 0.5em;
  margin-right: 2em;
  width: 350px;
}

button:hover {
  background-color: rgb(115, 196, 162);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}
